#titulo {
	font-family: arial;
	color: red;
	font-size: 48px;
}
h2{
			font-family: arial;
			color: green;
}
p{
	font-style: italic;
}
.destaque-laranja {
	color: orange;
}
.destaque-verde{
	color: green;
}
