.header{
    background: url("../img/rest-bg.jpg") no-repeat center;
    height: 580px;
    background-size: cover;
    padding-top: 20px;
    text-align: center;
}

.header_menu ul li{
    display:inline-block;
	margin-left: 25px;
    margin-top:0px;
    color: #fff;
}

.header_menu ul li a{
	color:#fff;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: .1em;
    padding: 10px 0;
}

.header_menu ul{
    border: 3px solid #33312E;
	display: block;
	text-decoration: none;
	padding: 10px;
}

.header img{
    text-align: center;
    padding-top: 150px;
}

.header h3{
    color: #fff;
    padding-top: 100px;
    font-size: 25px;
    padding-bottom: 0px;  
}

.header h2{
    color: #fff;
    font-size: 20px;
    padding-top: 0px;
}
header nav{
    max-width: 340px;
    margin: 0 auto;
    box-shadow: 0 0 0 5px #202020;
}

/**********************************************************/

.background_menu{
    background-color: #22211F 
}

.menu{
    text-align: center;
    color: #746B6B;
    text-transform: uppercase;
    
}


